<h1>GALLERY</h1>
  <div class="gallery">
    <figure class="gallery_item gallery_item-1">
      <img src="../images/pexels-photo-1059111.jpeg" class="gallery_img" alt="image 1">
    </figure>
    <figure class="gallery_item gallery_item-2">
      <img src="../images/pexels-photo-1181344.jpeg" class="gallery_img" alt="image 2">
    </figure>
    <figure class="gallery_item gallery_item-3">
      <img src="../images/pexels-photo-1243524.jpeg" class="gallery_img" alt="image 3">
    </figure>
    <figure class="gallery_item gallery_item-4">
      <img src="../images/pexels-photo-256541.jpeg" class="gallery_img" alt="image 4">
    </figure>
    <figure class="gallery_item gallery_item-5">
      <img src="../images/pexels-photo-267885.jpeg" class="gallery_img" alt="image 5">
    </figure>
    <figure class="gallery_item gallery_item-6">
      <img src="../images/pexels-photo-374820.jpeg" class="gallery_img" alt="image 6">
    </figure>
  </div>