<!--main section starts here -->
  <main>
    <div class="container">
      <h1>Find A Coding Gig</h1>
      <form action="/gigs/search" method="get">       
            <input type="search" name="search" id="search" placeholder="ðŸ”">
            <button class="btn">Search</button>
      </form>
    </div>
  </main>
  <!--main section stops here -->