<!--main section starts here -->
  <main>
    <div class="container find">
      <h1 class="find-gig">Find A Coding Gig</h1>
      <form id="form-display" action="/gigs/search" method="get">       
            <input type="search" name="search" id="search" placeholder="ðŸ”">
            <br>
            <button class="btn btn-primary">Search</button>
      </form>
    </div>
  </main>
  <!--main section stops here -->